$background: #F6F6F6;

//tela inicial
$text : #7C7C7C;
$input: #EAF0F7;
$button: #389DC2;
$white:#fff;

//tela exames
$textt : #7C7C7C;
$inputt : #fff;
$title: #298DD1;
$bLaudo :#4BBFFF;
$bimg: #389DC2;

//tela inicial
$texttt : #7C7C7C;
$inputtt: #EAF0F7;
$buttont: #389DC2;
$inputDestq: #C6DDF9;