<div class="tela">
  <div class="row flex-center mx-5">
    <div class="col-sm-6">
      <img src="../../../assets/svg/logo.svg" alt="">
    </div>
    <div class="col-sm-6 flex-end ">
      <div class="row">
        <div class="col-sm-6 mb-1">
          <img src="../../../assets/svg/profile.svg" alt="perfil" [routerLink]="['/perfil']" class="icon">
        </div>
        <div class="col-sm-6">
          <img src="../../../assets/svg/exit.svg" alt="Sair" [routerLink]="['']" class="icon">
        </div>
      </div>
    </div>

    <div class="col-sm-12 flex-center mt-5">
      <h5>*Confira os seus próximos exames aqui, além de consultar os seus exames anteriores.</h5>
    </div>

    <div class="col-sm-12 mt-3 card p-3">
      <div class="row">
      <div class="col-sm-6 flex-start" >
        <h4>Exames</h4>
      </div>
      <div class="col-sm-6 flex-end">
        <img src="../../../assets/svg/open.svg" alt="">
      </div>
      </div>
    </div>

    <div class="col-sm-12 mt-3 card p-3">
      <div class="row">
      <div class="col-sm-6 flex-start" >
        <h4>Próximos Exames</h4>
      </div>
      <div class="col-sm-6 flex-end">
        <img src="../../../assets/svg/open.svg" alt="">
      </div>
      </div>
    </div>
  </div>
</div>
