<div class="row flex-center">
  <div class="col-sm-6">
    <div class="row flex-center">
      <div class="col-sm-3">
        <img src="../../../assets/svg/logo.svg" alt="Logo">
      </div>
      <div class="col-sm-5">
        <img src="../../../assets/svg/name.svg" alt="">
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row flex-center">
      <div class="col-sm-1">
        <img src="../../../assets/svg/facebook.svg" alt="Facebook">
      </div>
      <div class="col-sm-1">
        <img src="../../../assets/svg/linkedin.svg" alt="Linkedin">
      </div>
      <div class="col-sm-1">
        <img src="../../../assets/svg/insta.svg" alt="Instagram">
      </div>
    </div>
  </div>
</div>
