@import '../../../assets/layout/colors.scss';
@import '../../../assets/layout/flex.scss';
@import '../../../assets/layout/responsive.scss';


.row{
  background:$background;
}
.icon:hover{
  height:35px;
  cursor: pointer;
}
.logo{
  @include responsive (s){
    align-items: center;
    display: flex;
    justify-content: center;
   }
}