<div class="row flex-center">
  <div class="col-sm-6">
    <div class="row flex-center">
      <div class="col-sm-3">
        <img src="../../../assets/svg/logo.svg" alt="Logo">
      </div>
      <div class="col-sm-5 logo">
        <img src="../../../assets/svg/name.svg" alt="name">
      </div>
    </div>
  </div>
  <div class="col-sm-6 icons">
    <div class="row flex-center">
      <div class="col-sm-1">
        <img src="../../../assets/svg/facebook.svg" alt="Facebook" class="icons">
      </div>
      <div class="col-sm-1 ">
        <img src="../../../assets/svg/linkedin.svg" alt="Linkedin"
        class="icons">
      </div>
      <div class="col-sm-1 ">
        <img src="../../../assets/svg/insta.svg" alt="Instagram"
        class="icons">
      </div>
    </div>
  </div>
</div>
