@import '../../../assets/layout/colors.scss';
@import '../../../assets/layout/flex.scss';
.tela{
  background:$background;
  padding-bottom: 20px;
}
p{
  color: $text;
  margin: 2px;
}
h5{
  color: $text;
}
h4{
  color: $text;
}

img:hover{
  cursor: pointer;
}
input{
  height: 40px;
  border-radius: 15px;
  border: none;
  width:20rem;
}

.btn{
  height: 40px;
  border-radius: 15px;
  border:none;
  background-color: $button;
  color: $white;
  width: 20rem;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(56, 157, 194, 0.3);
}
.btn:hover{
  height: 45px;
  border-radius: 15px;
  border:none;
  background-color: $button;
  color: $white;
  width: 20rem;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(56, 157, 194, 0.3);
}

.icon:hover{
  height:32px;
}